---
import { getStaticPaths } from "../../../../utils/staticPaths";
import { getLocaleFromUrl, useTranslations } from "../../../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('portfolio.multimedia.index.title');
const description = t('portfolio.multimedia.index.description');

import Layout from "../../../../layouts/Layout.astro";

export { getStaticPaths };
---
<Layout title= {title} description={description} active="portfolio">
    <section id="multimedia" class="section">
        <div class="title">
          <p class="text-title text-uppercase">Explora</p>
          <h4 class="text-large">Portafolio multimedia</h4>
        </div>
      </section>
</Layout>
