---
import Layout from "../../../layouts/Layout.astro";
import { getLocaleFromUrl, useTranslations } from "../../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

export const getStaticPaths = async () => {
  return [{ params: { locale: "en" } }, { params: { locale: undefined } }];
};
---
<Layout title={t('blog.index.title')} description={t('blog.index.description')} active="blog">
  <section class="hero">
    <h2 class="text-xlarge">
      Experimenta. Explora.
      <span>Evoluciona.</span>
    </h2>
  </section>

  <section id="playground" class="section">
    <div class="title">
      <p class="text-title text-uppercase">Playgroud</p>
      <h4 class="text-large">Mi diario creativo</h4>
    </div>
  </section>
</Layout>
