---
import { getStaticPaths } from "../../utils/staticPaths";
import { routes } from '../../routes';
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('contact.title');
const description = t('contact.description');

import Layout from "../../layouts/Layout.astro";

export { getStaticPaths };
---
<Layout title={title} description={description} active="contact">
  <section id="contact" class="section">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.contact.title')}</p>
      <h4 class="text-large">{t('home.contact.subtitle')}</h4>
    </div>
    
    <div>
      <form>
        <input type="text" placeholder={t('contact.input.name')} />
        <input type="email" placeholder={t('contact.input.email')} />
        <textarea placeholder={t('contact.input.message')} />
        <button type="submit" class="btn">
          {t('contact.btn')}
        </button>   
      </form>     
    </div>
  </section>
</Layout>
