---
import { getStaticPaths } from "../../utils/staticPaths";
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('contact.title');
const description = t('contact.description');

import Layout from "../../layouts/Layout.astro";

export { getStaticPaths };
---
<script src="/src/scripts/contact.js"></script>

<Layout title={title} description={description} active="contact">
  <section id="contact" class="section contact">
    <div class="title">
      <p class="text-title text-uppercase">{t('home.contact.title')}</p>
      <h4 class="text-large">{t('home.contact.subtitle')}</h4>
    </div>
    
    <div class="content">
      <div class="alert alert-success" aria-hidden="true">
        <p>¡Gracias! Tu mensaje ha sido enviado con éxito.</p>
        <p>Nos pondremos en contacto contigo muy pronto.</p>
      </div>

      <div class="alert alert-error" aria-hidden="true">
        <p>Ha habido un error al enviar el formulario :(</p>
        <p>Por favor, inténtalo de nuevo más tarde.</p>
      </div>

      <form id="contact-form" class="form" data-sending="Enviando..." data-send="Enviar →">
        <div class="input-container input-name">
          <input
            required
            autofocus
            type="text"
            name="user"
            placeholder={t('contact.input.name')}
            class="input"
          />
        </div>

        <div class="input-container input-email">
          <input
            required
            type="email"
            name="email"
            placeholder={t('contact.input.email')}
            class="input"
          />
        </div>

        <div class="input-container input-message">
          <textarea
            required
            name="message"
            placeholder={t('contact.input.message')}
            rows="12"
            class="textarea"
          />
        </div>

        <div class="input-container">
          <input type="hidden" class="date" name="date" value="" />

          <button type="submit" id="contact-submit" class="btn full-width">
            {t('contact.btn')}
          </button>
        </div>
      </form>
    </div>
  </section>
</Layout>