---
import { getStaticPaths } from "../../utils/staticPaths";
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

import Layout from "../../layouts/Layout.astro";

export { getStaticPaths };
---
<Layout title={t('contact.title')} description={t('contact.description')} active="contact">
  <section id="contact" class="section">
    <div class="title">
      <p class="text-title text-uppercase">Escríbeme</p>
      <h4 class="text-large">Y creemos cosas increíbles</h4>
    </div>
  </section>
</Layout>
