---
import { getStaticPaths } from "../../utils/staticPaths";
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

import Layout from "../../layouts/Layout.astro";

export { getStaticPaths };
---
<Layout title={t('faq.title')} description={t('faq.description')} active="faq">
  <section id="header" class="section">
    <div class="title">
      <p class="text-title text-uppercase">Respondiendo</p>
      <h4 class="text-large">A preguntas frecuentes</h4>
    </div>
  </section>
</Layout>
