---
import ExpandMoreRoundedIcon from '@mui/icons-material/ExpandMoreRounded';
import ExpandLessRoundedIcon from '@mui/icons-material/ExpandLessRounded';

import { getStaticPaths } from "../../utils/staticPaths";
import { routes } from "../../routes";
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('faq.title');
const description = t('faq.description');

import Layout from "../../layouts/Layout.astro";

export { getStaticPaths };
---
<Layout title={title} description={description} active="faq">
  <section class="section">
    <div class="title">
      <p class="text-title text-uppercase">{t('faq.header.title')}</p>
      <h4 class="text-large">{t('faq.header.subtitle')}</h4>
    </div>

    <div class="content">
      <ul class="faqs">
        <li class="faq">
          <h4 class="text-subtitle">
            <button class="faq-question">
              {t('faq.question1')}
            </button>
          </h4>
          <div class="faq-answer writer">
            <p set:html={t('faq.answer1')} />
          </div>
        </li>

        <li class="faq">
          <h4 class="text-subtitle">
            <button class="faq-question">
              {t('faq.question2')}
            </button>
          </h4>
          <div class="faq-answer writer">
            <p set:html={t('faq.answer2')} /> 
          </div>
        </li>

        <li class="faq">
          <h4 class="text-subtitle">
            <button class="faq-question">
              {t('faq.question3')}
            </button>
          </h4>
          <div class="faq-answer writer">
            <p set:html={t('faq.answer3')} />
          </div>
        </li>

        <li class="faq">
          <h4 class="text-subtitle">
            <button class="faq-question">
              {t('faq.question4')}
            </button>
          </h4>
          <div class="faq-answer writer">
            <p set:html={t('faq.answer4')} />
          </div>
        </li>
      </ul>
    </div>
  </section>
</Layout>
