---
import { getStaticPaths } from "../../utils/staticPaths";
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

import Layout from "../../layouts/Layout.astro";


export { getStaticPaths };
---
<Layout title={t('home.title')} description={t('home.description')}>
  <h2 class="text-xlarge">
    XLarge – The quick brown fox jumps over the lazy dog
    <span>soy azulito perdío</span>
  </h2>
  <h3 class="text-large">Large – The quick brown fox jumps over the lazy dog</h3>
  <p class="text-title">Title – The quick brown fox jumps over the lazy dog</p>
  <p class="text-subtitle">Subtitle – The quick brown fox jumps over the lazy dog</p>
  <p>Default – The quick brown fox jumps over the lazy dog</p>
  <p class="text-small">Small – The quick brown fox jumps over the lazy dog</p>
</Layout>