---
import { getStaticPaths } from "../../utils/staticPaths";
import { getLocaleFromUrl, useTranslations } from "../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

import Layout from "../../layouts/Layout.astro";


export { getStaticPaths };
---
<Layout title={t('home.title')} description={t('home.description')}>
  <section class="hero">
    <h2 class="text-xlarge">
      Las ideas cobran vida
      <span>para comunicar / inspirar / conectar</span>
    </h2>
  </section>

  <section id="featured" class="section">
    <div class="title">
      <p class="text-title text-uppercase">Lo más destacado</p>
      <h4 class="text-large">Proyectos de animación</h4>
    </div>
  </section>

  <section id="show-reel">
    <p>Lo más destacado</p>
    <h4>Proyectos de animación</h4>
  </section>

  <section id="collaborations">
    <p>Lo más destacado</p>
    <h4>Proyectos de animación</h4>
  </section>

  <section id="newest">
    <p>Lo más destacado</p>
    <h4>Proyectos de animación</h4>
  </section>

  <section id="contact">
    <p>Lo más destacado</p>
    <h4>Proyectos de animación</h4>
  </section>

</Layout>