---
import { getStaticPaths } from "../../utils/staticPaths";

import Layout from "../../layouts/Layout.astro";

export { getStaticPaths };
---
<Layout title="Inicio | Gabriela Borraz" description="Bienvenidos al sitio web de Gabriela Borraz, donde las ideas creativas cobran vida para comunicar, inspirar y conectar">
  <h2 class="text-xlarge">
    XLarge – The quick brown fox jumps over the lazy dog
    <span>soy azulito perdío</span>
  </h2>
  <h3 class="text-large">Large – The quick brown fox jumps over the lazy dog</h3>
  <p class="text-title">Title – The quick brown fox jumps over the lazy dog</p>
  <p class="text-subtitle">Subtitle – The quick brown fox jumps over the lazy dog</p>
  <p>Default – The quick brown fox jumps over the lazy dog</p>
  <p class="text-small">Small – The quick brown fox jumps over the lazy dog</p>
</Layout>