/* ----------------------------------------------------------------------------,
 * Fonts                                                                       |
 * ---------------------------------------------------------------------------*/
@font-face {
  font-family: "Satoshi";
  src: url('/fonts/Satoshi-Bold.otf');
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url('/fonts/Satoshi-Regular.otf');
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('/fonts/PlusJakartaSans-ExtraBold');
  src: url('/fonts/PlusJakartaSans-ExtraBold') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('/fonts/PlusJakartaSans-Bold');
  src: url('/fonts/PlusJakartaSans-Bold') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Variables                                                                   |
 * ---------------------------------------------------------------------------*/
:root {
  --font-family-heading: 'Plus Jakarta Sans', sans-serif;
  --font-family-body: 'Satoshi', sans-serif;

  /* Font size: X-Large */
  --font-size-xlarge-desktop: 3rem;     /* 48px */
  --line-height-xlarge-desktop: 4.5rem; /* 72px */
  --font-size-xlarge-mobile: 1.5rem;    /* 24px */
  --line-height-xlarge-mobile: 2.5rem;  /* 40px */

  /* Font size: Large */
  --font-size-large-desktop: 1.5rem;    /* 24px */
  --line-height-large-desktop: 2.5rem;  /* 40px */
  --font-size-large-mobile: 1.25rem;    /* 20px */
  --line-height-large-mobile: 2rem;     /* 32px */

  /* Font size: Title */
  --font-size-title-desktop: 1rem;      /* 16px */
  --line-height-title-desktop: 1.5rem;  /* 24px */
  --font-weight-title-desktop: 800;
  --font-size-title-mobile: 0.875rem;   /* 14px */
  --line-height-title-mobile: 1.5rem;   /* 24px */
  --font-weight-title-mobile: 800;

  /* Font size: Subtitle */
  --font-size-subtitle: 1rem;     /* 16px */
  --line-height-subtitle: 1.5rem; /* 24px */

  /* Font size: Default */
  --font-size: 1rem;     /* 16px */
  --line-height: 1.5rem; /* 24px */

  /* Font size: Small */
  --font-size-small: 0.75rem; /* 12px */
  --line-height-small: 1rem;  /* 16px */

  /* Colors */
  --blue-neon: #4162FF;
  --blue-persian: #142DCC;
  --blue-resolution: #0E208A;
  --black-space-cadet: #1C213C;
  --black-oxford-blue: #060C28;
  --white: #FFF;
  --grey-seasalt: #F9FAFB;
  --grey-anti-flash-white: #F3F3F7;
  --grey-ghost-white: #E8EBF2;
  --grey-lavander-web: #D7DCEA;
  --green-mint-cream: #F0FDF6;
  --green-cal-poly: #074A23;
  --red-lavender-blush: #FDF0F0;
  --red-barn-red: #790C0C;

  /* Vertical rythm */
  --rythm: 8px;

  /* Tables */
  --line-height-table-cell: 2rem; /* 32px */

  /* Width */
  /* --max-width: calc(1440px * 0.8); */
  --max-width: 1120px;

  /* Borders */
  --border-radius: 12px;
  --border-radius-input: 4px;
  --border-radius-slider: 4px;

  /* Breakpoints widths */
  --medium-screen: 1169px;
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * HTML elements                                                               |
 * ---------------------------------------------------------------------------*/
* {
  margin: 0;
}

*:focus {
  outline: none;
}

html, body {
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  // background: repeating-linear-gradient(
  //   gainsboro, gainsboro 8px, white 8px, white 16px
  // );
}

body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  line-height: var(--line-height);
  font-size: var(--font-size);
  font-family: var(--font-family-body);
  color: var(--black-space-cadet);
  overflow-y: scroll;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: var(--font-family-heading);
}

p {
  margin: 0;
  margin-block-start: auto;
  margin-block-end: auto;
}

ul, ol {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  padding: 0;
  line-height: inherit;
  border: none;
  background-color: transparent;
}

input, textarea {
  line-height: var(--line-height);
  user-select: none;
}

a {
  color: var(--black-space-cadet);
}

object {
  width: 100%;
  display: block;
}

[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Text styling                                                                |
 * ---------------------------------------------------------------------------*/
.text-xlarge {
  font-family: var(--font-family-heading);
  font-weight: 800;
  font-size: var(--font-size-xlarge-mobile);
  line-height: var(--line-height-xlarge-mobile);
  color: var(--black-oxford-blue);

  & span {
    color: var(--blue-neon);
  }
}

.text-large {
  font-family: var(--font-family-heading);
  font-weight: 800;
  font-size: var(--font-size-large-mobile);
  line-height: var(--line-height-large-mobile);
  color: var(--blue-neon);
}

.text-title {
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: var(--font-size-title-mobile);
  line-height: var(--line-height-title-mobile);
  color: var(--black-oxford-blue);
}

@media only screen and (min-width: 1169px) {
  .text-xlarge {
    font-size: var(--font-size-xlarge-desktop);
    line-height: var(--line-height-xlarge-desktop);
  }

  .text-large {
    font-size: var(--font-size-large-desktop);
    line-height: var(--line-height-large-desktop);
  }

  .text-title {
    font-size: var(--font-size-title-desktop);
    line-height: var(--line-height-title-desktop);
  }
}

.text-subtitle {
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
}

.text-small {
  font-family: var(--font-family-body);
  font-weight: normal;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.text-uppercase {
  text-transform: uppercase;
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Header, navigation & breadcrumb                                             |
 * ---------------------------------------------------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--rythm) * 8);

  & nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--white);
    z-index: 2;

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    & ul {
      display: flex;
      align-content: stretch;
      flex-direction: column;
      background-color: white;
    }

    & li {
      display: flex;
      justify-content: center;
      align-items: center;

      &#nav-burger, &#nav-close {
        align-self: end;
      }

      &#nav-burger {
        display: flex;
        width: calc(var(--rythm) * 8);
        height: calc(var(--rythm) * 8);
      }

      &#nav-close {
        height: calc(var(--rythm) * 3);
        display: none;
      }

      &.nav-item {
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        box-shadow: inset 0px -1px 0px 0px var(--grey-lavander-web);
        display: none;
      }

      &.active {
        box-shadow: inset 0px -3px 0px 0px var(--blue-neon);
      }
    }

    & a {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-title-desktop);
      font-weight: var(--font-weight-title-desktop);
      line-height: var(--line-height-title-desktop);
      color: var(--black-oxford-blue);
    }

    &.nav-mobile-open {
      bottom: 0;

      & ul {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: calc(var(--rythm) * 3);
      }

      & li {
        &#nav-burger {
          display: none;
        }

        &#nav-close {
          display: flex;
        }

        &.nav-item {
          display: flex;
        }
      }
    }
  }

  & .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - calc(var(--rythm) * 16));
    padding: calc(var(--rythm) * 8) 0;

    & > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & h2 {
      text-align: center;

      & span {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 1169px) {
  .header {
    align-items: center;

    & > * {
      width: var(--max-width);
    }

    & nav {
      width: var(--max-width);
      height: auto;

      & ul {
        flex-direction: row;
      }

      & li {
        height: calc(var(--rythm) * 8);

        &#nav-burger {
          display: none;
        }

        &.nav-item {
          display: flex;
        }
      }
    }
  }
}

.breadcrumb {
  display: flex;
  gap: calc(var(--rythm) * 1);

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & li:not(:first-of-type) {
    &::before {
      content: '/';
      margin: 0;
      color: var(--blue-neon);
      font-weight: 800;
    }

    & a, span {
      padding: calc(var(--rythm) * 0.5);
    }
  }

  & + .title {
    margin-top: calc(var(--rythm) * 8);
  }
}

@media only screen and (min-width: 1169px) {
  .breadcrumb {
    & + .title {
      margin-top: calc(var(--rythm) * 15);
    }
  }
}

/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Main content & sections                                                     |
 * ---------------------------------------------------------------------------*/
.main {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;

  & > * {
    padding: calc(var(--rythm) * 3);
  }
}

@media only screen and (min-width: 1169px) {
  .main {
    align-items: center;
    padding: calc(var(--rythm) * 8) 0;

    & > * {
      width: var(--max-width);
      padding: 0;
    }
  }
}

.section {
  margin-top: calc(var(--rythm) * 8);
  margin-bottom: calc(var(--rythm) * 8);

  &:first-child {
    margin-top: 0;
  }

  & .title + .content {
    margin-top: calc(var(--rythm) * 8);
  }
}

@media only screen and (min-width: 1169px) {
  .section {
    margin-top: calc(var(--rythm) * 16);
    margin-bottom: calc(var(--rythm) * 16);
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Footer                                                                      |
 * ---------------------------------------------------------------------------*/
.footer {
  max-width: var(--max-width);
  margin: calc(var(--rythm) * 3);
  padding-bottom: calc(var(--rythm) * 6);
  box-shadow: inset 0px 1px 0px 0px var(--grey-lavander-web);

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & p {
    margin-bottom: calc(var(--rythm) * 2);
  }

  & li {
    margin-top: calc(var(--rythm) * 1);
  }

  & h6 {
    text-align: center;
  }

  & .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--rythm) * 4);
    padding: calc(var(--rythm) * 2) 0;
  }

  & .alert {
    margin-bottom: calc(var(--rythm) * 2);
  }
}

@media only screen and (min-width: 1169px) {
  .footer {
    margin: 0 auto;

    & .content {
      grid-template-columns: repeat(5, 1fr);
      padding: calc(var(--rythm) * 3) calc(var(--rythm) * 6);
    }
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Buttons                                                                     |
 * ---------------------------------------------------------------------------*/
.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: calc(var(--rythm) * 1) calc(var(--rythm) * 2);
  font-size: var(--font-size-subtitle);
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue-neon);
  border-radius: var(--border-radius);
  border: none;
  user-select: none;

  &:hover {
    color: var(--blue-neon);
    background-color: var(--white);
    box-shadow: inset 0px 0px 0px 1px var(--blue-neon);
  }

  &:active {
    color: var(--white);
    background-color: var(--blue-resolution);
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    color: var(--grey-lavander-web);
    background-color: var(--grey-ghost-white);
    box-shadow: inset 0px 0px 0px 1px var(--grey-lavander-web);
  }
}

a.btn {
  &.full-width {
    display: block;
  }
}

button.btn {
  &.full-width {
    width: 100%;
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Inputs                                                                      |
 * ---------------------------------------------------------------------------*/
.input-container {
  position: relative;

  &:not(:first-child) {
    margin-top: calc(var(--rythm) * 2)
  }
}

& .input, & .textarea {
  padding-top: calc(var(--rythm) * 1);
  padding-right: calc(var(--rythm) * 2);
  padding-bottom: calc(var(--rythm) * 1);
  padding-left: calc(var(--rythm) * 4);
  border: none;
  border-radius: var(--border-radius-input);
  background-color: var(--grey-seasalt);
  box-shadow: inset 0px 0px 0px 1px var(--grey-lavander-web);

  &::placeholder {
    color: var(--grey-lavander-web);
  }

  &:hover {
    background-color: var(--white);
    box-shadow: inset 0px 0px 0px 1px var(--blue-neon);

    &::placeholder {
      color: var(--blue-neon);
    }
  }

  &:focus {
    outline: none;
    background-color: var(--white);
    box-shadow: inset 0px 0px 0px 1px var(--blue-neon);

    &::placeholder {
      color: var(--blue-neon);
    }
  }
}

.input-name, .input-email, .input-message {
  &::before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: calc(var(--rythm) * 1);
    top: 12px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.input-name {
  &::before {
    background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.5%2011.3958C2.27778%2010.7569%203.13889%2010.2813%204.08333%209.96875C5.02778%209.65625%206%209.5%207%209.5C8%209.5%208.97222%209.65278%209.91667%209.95833C10.8611%2010.2639%2011.7222%2010.7431%2012.5%2011.3958V1.5H1.5V11.3958ZM7.00504%208.5C7.83501%208.5%208.54167%208.20665%209.125%207.61996C9.70833%207.03325%2010%206.32492%2010%205.49496C10%204.66499%209.70665%203.95833%209.11996%203.375C8.53325%202.79167%207.82492%202.5%206.99496%202.5C6.16499%202.5%205.45833%202.79335%204.875%203.38004C4.29167%203.96675%204%204.67508%204%205.50504C4%206.33501%204.29335%207.04167%204.88004%207.625C5.46675%208.20833%206.17508%208.5%207.00504%208.5ZM1.5%2014C1.0875%2014%200.734375%2013.8531%200.440625%2013.5594C0.146875%2013.2656%200%2012.9125%200%2012.5V1.5C0%201.0875%200.146875%200.734376%200.440625%200.440626C0.734375%200.146876%201.0875%200%201.5%200H12.5C12.9125%200%2013.2656%200.146876%2013.5594%200.440626C13.8531%200.734376%2014%201.0875%2014%201.5V12.5C14%2012.9125%2013.8531%2013.2656%2013.5594%2013.5594C13.2656%2013.8531%2012.9125%2014%2012.5%2014H1.5ZM2.52083%2012.5H11.4792C10.8403%2012.0139%2010.1389%2011.6424%209.375%2011.3854C8.61111%2011.1285%207.81944%2011%207%2011C6.18056%2011%205.39236%2011.1285%204.63542%2011.3854C3.87847%2011.6424%203.17361%2012.0139%202.52083%2012.5ZM7%207C6.58333%207%206.22917%206.85417%205.9375%206.5625C5.64583%206.27083%205.5%205.91667%205.5%205.5C5.5%205.08333%205.64583%204.72917%205.9375%204.4375C6.22917%204.14583%206.58333%204%207%204C7.41667%204%207.77083%204.14583%208.0625%204.4375C8.35417%204.72917%208.5%205.08333%208.5%205.5C8.5%205.91667%208.35417%206.27083%208.0625%206.5625C7.77083%206.85417%207.41667%207%207%207Z%22%20fill%3D%22%23D7DCEA%22%2F%3E%3C%2Fsvg%3E');
  }

  &:hover, &:focus-within {
    &::before {
      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.5%2011.3958C2.27778%2010.7569%203.13889%2010.2813%204.08333%209.96875C5.02778%209.65625%206%209.5%207%209.5C8%209.5%208.97222%209.65278%209.91667%209.95833C10.8611%2010.2639%2011.7222%2010.7431%2012.5%2011.3958V1.5H1.5V11.3958ZM7.00504%208.5C7.83501%208.5%208.54167%208.20665%209.125%207.61996C9.70833%207.03325%2010%206.32492%2010%205.49496C10%204.66499%209.70665%203.95833%209.11996%203.375C8.53325%202.79167%207.82492%202.5%206.99496%202.5C6.16499%202.5%205.45833%202.79335%204.875%203.38004C4.29167%203.96675%204%204.67508%204%205.50504C4%206.33501%204.29335%207.04167%204.88004%207.625C5.46675%208.20833%206.17508%208.5%207.00504%208.5ZM1.5%2014C1.0875%2014%200.734375%2013.8531%200.440625%2013.5594C0.146875%2013.2656%200%2012.9125%200%2012.5V1.5C0%201.0875%200.146875%200.734376%200.440625%200.440626C0.734375%200.146876%201.0875%200%201.5%200H12.5C12.9125%200%2013.2656%200.146876%2013.5594%200.440626C13.8531%200.734376%2014%201.0875%2014%201.5V12.5C14%2012.9125%2013.8531%2013.2656%2013.5594%2013.5594C13.2656%2013.8531%2012.9125%2014%2012.5%2014H1.5ZM2.52083%2012.5H11.4792C10.8403%2012.0139%2010.1389%2011.6424%209.375%2011.3854C8.61111%2011.1285%207.81944%2011%207%2011C6.18056%2011%205.39236%2011.1285%204.63542%2011.3854C3.87847%2011.6424%203.17361%2012.0139%202.52083%2012.5ZM7%207C6.58333%207%206.22917%206.85417%205.9375%206.5625C5.64583%206.27083%205.5%205.91667%205.5%205.5C5.5%205.08333%205.64583%204.72917%205.9375%204.4375C6.22917%204.14583%206.58333%204%207%204C7.41667%204%207.77083%204.14583%208.0625%204.4375C8.35417%204.72917%208.5%205.08333%208.5%205.5C8.5%205.91667%208.35417%206.27083%208.0625%206.5625C7.77083%206.85417%207.41667%207%207%207Z%22%20fill%3D%22%234162FF%22%2F%3E%3C%2Fsvg%3E');
    }
  }
}

.input-email {
  &::before {
    background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2218%22%20height%3D%2214%22%20viewBox%3D%220%200%2018%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.4165%2013.6667C1.93525%2013.6667%201.52327%2013.4954%201.18057%2013.1526C0.837858%2012.8099%200.666504%2012.398%200.666504%2011.9167V2.08337C0.666504%201.60212%200.837858%201.19014%201.18057%200.847436C1.52327%200.504728%201.93525%200.333374%202.4165%200.333374H15.5832C16.0644%200.333374%2016.4764%200.504728%2016.8191%200.847436C17.1618%201.19014%2017.3332%201.60212%2017.3332%202.08337V11.9167C17.3332%2012.398%2017.1618%2012.8099%2016.8191%2013.1526C16.4764%2013.4954%2016.0644%2013.6667%2015.5832%2013.6667H2.4165ZM15.5832%203.83337L9.45646%207.64719C9.38816%207.68798%209.31581%207.72226%209.23942%207.75004C9.16303%207.77782%209.08317%207.79171%208.99984%207.79171C8.9165%207.79171%208.83664%207.77955%208.76025%207.75525C8.68387%207.73094%208.61095%207.69449%208.5415%207.64587L2.4165%203.83337V11.9167H15.5832V3.83337ZM8.99984%206.20837L15.6248%202.08337H2.39567L8.99984%206.20837ZM2.4165%203.83337V4.03854V2.77608V2.79171V2.78562V4.04171V3.83337Z%22%20fill%3D%22%23D7DCEA%22%2F%3E%3C%2Fsvg%3E');
  }

  &:hover, &:focus-within {
    &::before {
      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2218%22%20height%3D%2214%22%20viewBox%3D%220%200%2018%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.4165%2013.6667C1.93525%2013.6667%201.52327%2013.4954%201.18057%2013.1526C0.837858%2012.8099%200.666504%2012.398%200.666504%2011.9167V2.08337C0.666504%201.60212%200.837858%201.19014%201.18057%200.847436C1.52327%200.504728%201.93525%200.333374%202.4165%200.333374H15.5832C16.0644%200.333374%2016.4764%200.504728%2016.8191%200.847436C17.1618%201.19014%2017.3332%201.60212%2017.3332%202.08337V11.9167C17.3332%2012.398%2017.1618%2012.8099%2016.8191%2013.1526C16.4764%2013.4954%2016.0644%2013.6667%2015.5832%2013.6667H2.4165ZM15.5832%203.83337L9.45646%207.64719C9.38816%207.68798%209.31581%207.72226%209.23942%207.75004C9.16303%207.77782%209.08317%207.79171%208.99984%207.79171C8.9165%207.79171%208.83664%207.77955%208.76025%207.75525C8.68387%207.73094%208.61095%207.69449%208.5415%207.64587L2.4165%203.83337V11.9167H15.5832V3.83337ZM8.99984%206.20837L15.6248%202.08337H2.39567L8.99984%206.20837ZM2.4165%203.83337V4.03854V2.77608V2.79171V2.78562V4.04171V3.83337Z%22%20fill%3D%22%234162FF%22%2F%3E%3C%2Fsvg%3E');
    }
  }
}

.input-message {
  &::before {
    background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2214%22%20height%3D%2210%22%20viewBox%3D%220%200%2014%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.756021%209.5C0.543674%209.5%200.364583%209.42855%200.21875%209.28565C0.0729167%209.14273%200%208.96565%200%208.7544C0%208.54313%200.0718193%208.36458%200.215458%208.21875C0.359111%208.07292%200.537111%208%200.749458%208H8.24398C8.45633%208%208.63542%208.07145%208.78125%208.21435C8.92708%208.35727%209%208.53435%209%208.7456C9%208.95687%208.92818%209.13542%208.78454%209.28125C8.64089%209.42708%208.46289%209.5%208.25054%209.5H0.756021ZM0.75%205.75C0.5375%205.75%200.359375%205.67855%200.215625%205.53565C0.0718751%205.39273%200%205.21565%200%205.0044C0%204.79313%200.0718751%204.61458%200.215625%204.46875C0.359375%204.32292%200.5375%204.25%200.75%204.25H13.25C13.4625%204.25%2013.6406%204.32145%2013.7844%204.46435C13.9281%204.60727%2014%204.78435%2014%204.9956C14%205.20687%2013.9281%205.38542%2013.7844%205.53125C13.6406%205.67708%2013.4625%205.75%2013.25%205.75H0.75ZM0.75%202C0.5375%202%200.359375%201.92855%200.215625%201.78565C0.0718751%201.64273%200%201.46565%200%201.2544C0%201.04313%200.0718751%200.864583%200.215625%200.71875C0.359375%200.572917%200.5375%200.5%200.75%200.5H13.25C13.4625%200.5%2013.6406%200.571451%2013.7844%200.714354C13.9281%200.857271%2014%201.03435%2014%201.2456C14%201.45687%2013.9281%201.63542%2013.7844%201.78125C13.6406%201.92708%2013.4625%202%2013.25%202H0.75Z%22%20fill%3D%22%23D7DCEA%22%2F%3E%3C%2Fsvg%3E');
  }

  &:hover, &:focus-within {
    &::before {
      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2214%22%20height%3D%2210%22%20viewBox%3D%220%200%2014%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.756021%209.5C0.543674%209.5%200.364583%209.42855%200.21875%209.28565C0.0729167%209.14273%200%208.96565%200%208.7544C0%208.54313%200.0718193%208.36458%200.215458%208.21875C0.359111%208.07292%200.537111%208%200.749458%208H8.24398C8.45633%208%208.63542%208.07145%208.78125%208.21435C8.92708%208.35727%209%208.53435%209%208.7456C9%208.95687%208.92818%209.13542%208.78454%209.28125C8.64089%209.42708%208.46289%209.5%208.25054%209.5H0.756021ZM0.75%205.75C0.5375%205.75%200.359375%205.67855%200.215625%205.53565C0.0718751%205.39273%200%205.21565%200%205.0044C0%204.79313%200.0718751%204.61458%200.215625%204.46875C0.359375%204.32292%200.5375%204.25%200.75%204.25H13.25C13.4625%204.25%2013.6406%204.32145%2013.7844%204.46435C13.9281%204.60727%2014%204.78435%2014%204.9956C14%205.20687%2013.9281%205.38542%2013.7844%205.53125C13.6406%205.67708%2013.4625%205.75%2013.25%205.75H0.75ZM0.75%202C0.5375%202%200.359375%201.92855%200.215625%201.78565C0.0718751%201.64273%200%201.46565%200%201.2544C0%201.04313%200.0718751%200.864583%200.215625%200.71875C0.359375%200.572917%200.5375%200.5%200.75%200.5H13.25C13.4625%200.5%2013.6406%200.571451%2013.7844%200.714354C13.9281%200.857271%2014%201.03435%2014%201.2456C14%201.45687%2013.9281%201.63542%2013.7844%201.78125C13.6406%201.92708%2013.4625%202%2013.25%202H0.75Z%22%20fill%3D%22%234162FF%22%2F%3E%3C%2Fsvg%3E');
    }
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Modals                                                                      |
 * ---------------------------------------------------------------------------*/
#modal-container {
  width: 100%;
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(28, 33, 60, 0.9); /* space-cadet */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &.none {
    display: none;
  }

  & .modal {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    margin: calc(var(--rythm) * 2);
  }

  & .modal-header, & .modal-footer {
    display: flex;
  }

  & .modal-header {
    padding: calc(var(--rythm) * 3);
    position: relative;
    justify-content: space-between;
  }

  & .modal-footer {
    flex-direction: column;
    justify-content: flex-end;
  }

  & .modal-body {
    position: relative;
    border-radius: var(--border-radius);
    padding-bottom: 4px;
    box-shadow: inset 0px -4px 0px 0px var(--blue-neon);
  }

  & .modal-body > iframe {
    display: block;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
  }

  & .modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0 0 auto auto;

    & .MuiSvgIcon-fontSizeMedium {
      fill: var(--white);
      height: 32px;
      width: 32px;
      opacity: .8;

      &:hover {
        opacity: 1;
        fill: var(--blue-neon);
      }
    }
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Alerts                                                                      |
 * ---------------------------------------------------------------------------*/
.alert {
  padding: calc(var(--rythm) * 1);
  padding-left: calc(var(--rythm) * 6);
  position: relative;
  border-radius: var(--border-radius-input);

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: calc(var(--rythm) * 2);
    top: calc(50% - 8px);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.alert-success {
  color: var(--green-cal-poly);
  background-color: var(--green-mint-cream);
  box-shadow: inset 0px 0px 0px 1px var(--green-cal-poly);

  &::before {
    background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.9375%2010.875L7.6875%209.64583C7.53472%209.49306%207.36111%209.41667%207.16667%209.41667C6.97222%209.41667%206.79861%209.49306%206.64583%209.64583C6.49306%209.79861%206.41667%209.97569%206.41667%2010.1771C6.41667%2010.3785%206.49306%2010.5556%206.64583%2010.7083L8.41667%2012.4792C8.56944%2012.6319%208.74306%2012.7083%208.9375%2012.7083C9.13194%2012.7083%209.30556%2012.6319%209.45833%2012.4792L13.3542%208.58333C13.5069%208.43056%2013.5833%208.25347%2013.5833%208.05208C13.5833%207.85069%2013.5069%207.67361%2013.3542%207.52083C13.2014%207.36806%2013.0278%207.29167%2012.8333%207.29167C12.6389%207.29167%2012.4653%207.36806%2012.3125%207.52083L8.9375%2010.875ZM10%2018C8.90278%2018%207.86806%2017.7917%206.89583%2017.375C5.92361%2016.9583%205.07292%2016.3854%204.34375%2015.6563C3.61458%2014.9271%203.04167%2014.0764%202.625%2013.1042C2.20833%2012.1319%202%2011.0972%202%2010C2%208.88889%202.20833%207.85069%202.625%206.88542C3.04167%205.92014%203.61458%205.07292%204.34375%204.34375C5.07292%203.61458%205.92361%203.04167%206.89583%202.625C7.86806%202.20833%208.90278%202%2010%202C11.1111%202%2012.1493%202.20833%2013.1146%202.625C14.0799%203.04167%2014.9271%203.61458%2015.6563%204.34375C16.3854%205.07292%2016.9583%205.92014%2017.375%206.88542C17.7917%207.85069%2018%208.88889%2018%2010C18%2011.0972%2017.7917%2012.1319%2017.375%2013.1042C16.9583%2014.0764%2016.3854%2014.9271%2015.6563%2015.6563C14.9271%2016.3854%2014.0799%2016.9583%2013.1146%2017.375C12.1493%2017.7917%2011.1111%2018%2010%2018ZM10%2016.5C11.8056%2016.5%2013.3403%2015.8681%2014.6042%2014.6042C15.8681%2013.3403%2016.5%2011.8056%2016.5%2010C16.5%208.19444%2015.8681%206.65972%2014.6042%205.39583C13.3403%204.13194%2011.8056%203.5%2010%203.5C8.19444%203.5%206.65972%204.13194%205.39583%205.39583C4.13194%206.65972%203.5%208.19444%203.5%2010C3.5%2011.8056%204.13194%2013.3403%205.39583%2014.6042C6.65972%2015.8681%208.19444%2016.5%2010%2016.5Z%22%20fill%3D%22%23074A23%22%2F%3E%3C%2Fsvg%3E');
  }
}

.alert-error {
  color: var(--red-barn-red);
  background-color: var(--red-lavender-blush);
  box-shadow: inset 0px 0px 0px 1px var(--red-barn-red);

  &::before {
    background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.97917%209C7.26943%209%206.60242%209.15625%205.97813%209.46875C5.35382%209.78125%204.82639%2010.2222%204.39583%2010.7917C4.20139%2011.0417%204.17014%2011.3056%204.30208%2011.5833C4.43403%2011.8611%204.65972%2012%204.97917%2012C5.10417%2012%205.22222%2011.9722%205.33333%2011.9167C5.44444%2011.8611%205.54167%2011.7847%205.625%2011.6875C5.91667%2011.3264%206.26746%2011.0382%206.67738%2010.8229C7.08729%2010.6076%207.52132%2010.5%207.97946%2010.5C8.4376%2010.5%208.87424%2010.6013%209.28938%2010.8038C9.70451%2011.0064%2010.0525%2011.287%2010.3333%2011.6458C10.4028%2011.7431%2010.4891%2011.8264%2010.5923%2011.8958C10.6954%2011.9653%2010.8105%2012%2010.9375%2012C11.2569%2012%2011.4931%2011.8576%2011.6458%2011.5729C11.7986%2011.2882%2011.7778%2011.0139%2011.5833%2010.75C11.1667%2010.1667%2010.6396%209.72917%2010.0022%209.4375C9.36474%209.14583%208.6904%209%207.97917%209ZM10.75%207.5C11.0972%207.5%2011.3924%207.37847%2011.6354%207.13542C11.8785%206.89236%2012%206.59722%2012%206.25C12%205.90278%2011.8785%205.60764%2011.6354%205.36458C11.3924%205.12153%2011.0972%205%2010.75%205C10.4028%205%2010.1076%205.12153%209.86458%205.36458C9.62153%205.60764%209.5%205.90278%209.5%206.25C9.5%206.59722%209.62153%206.89236%209.86458%207.13542C10.1076%207.37847%2010.4028%207.5%2010.75%207.5ZM5.25%207.5C5.59722%207.5%205.89236%207.37847%206.13542%207.13542C6.37847%206.89236%206.5%206.59722%206.5%206.25C6.5%205.90278%206.37847%205.60764%206.13542%205.36458C5.89236%205.12153%205.59722%205%205.25%205C4.90278%205%204.60764%205.12153%204.36458%205.36458C4.12153%205.60764%204%205.90278%204%206.25C4%206.59722%204.12153%206.89236%204.36458%207.13542C4.60764%207.37847%204.90278%207.5%205.25%207.5ZM8.00575%2016C6.90469%2016%205.86806%2015.7917%204.89583%2015.375C3.92361%2014.9583%203.07292%2014.3854%202.34375%2013.6563C1.61458%2012.9271%201.04167%2012.0767%200.625%2011.105C0.208333%2010.1334%200%209.09519%200%207.99046C0%206.88571%200.208333%205.85069%200.625%204.88542C1.04167%203.92014%201.61458%203.07292%202.34375%202.34375C3.07292%201.61458%203.92332%201.04167%204.89496%200.625C5.86661%200.208333%206.90481%200%208.00954%200C9.11429%200%2010.1493%200.208333%2011.1146%200.625C12.0799%201.04167%2012.9271%201.61458%2013.6563%202.34375C14.3854%203.07292%2014.9583%203.92169%2015.375%204.89008C15.7917%205.85849%2016%206.89321%2016%207.99425C16%209.09531%2015.7917%2010.1319%2015.375%2011.1042C14.9583%2012.0764%2014.3854%2012.9271%2013.6563%2013.6563C12.9271%2014.3854%2012.0783%2014.9583%2011.1099%2015.375C10.1415%2015.7917%209.10679%2016%208.00575%2016ZM8%2014.5C9.80556%2014.5%2011.3403%2013.8681%2012.6042%2012.6042C13.8681%2011.3403%2014.5%209.80556%2014.5%208C14.5%206.19444%2013.8681%204.65972%2012.6042%203.39583C11.3403%202.13194%209.80556%201.5%208%201.5C6.19444%201.5%204.65972%202.13194%203.39583%203.39583C2.13194%204.65972%201.5%206.19444%201.5%208C1.5%209.80556%202.13194%2011.3403%203.39583%2012.6042C4.65972%2013.8681%206.19444%2014.5%208%2014.5Z%22%20fill%3D%22%23790C0C%22%2F%3E%3C%2Fsvg%3E');
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Table like elements                                                         |
 * ---------------------------------------------------------------------------*/
.table {
  & > div {
    &:not(:first-child) {
      margin-top: calc(var(--rythm) * 3);
    }
  }
}
.table-header {
  display: block;
  box-shadow: inset 0px -1px 0px 0px var(--grey-lavander-web);
  line-height: var(--line-height-table-cell);
}

.table-cell {
  line-height: var(--line-height-table-cell);
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 *                                                                             |
 * Index page                                                                  |
 *                                                                             |
 * ---------------------------------------------------------------------------*/
/* Projects */
.projects {
  & .projects-cards {
    flex: 1;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: calc(var(--rythm) * 8);

    & li {
      margin: 0 auto;
    }
  }

  & img {
    height: 180px;
    display: block;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  & .project-card {
    display: flex;
    flex-direction: column;
    width: 320px;

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .project-thumbnail {
    position: relative;
  }

  & .project-overlay {
    height: 180px;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  & .project-link {
    display: block;
    margin: calc(var(--rythm) * 2) 0;
  }
}

@media only screen and (min-width: 1169px) {
  .projects {
    & .projects-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* Projects CTA */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--rythm) * 8);
}

/* Clients */
.clients {
  & .clients-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  & li:not(:first-child) {
    margin-top: calc(var(--rythm) * 12);
  }

  & object {
    height: 96px;
  }
}

@media only screen and (min-width: 1169px) {
  .clients {
    & .clients-cards {
      flex-direction: row;
    }

    & li:not(:first-child) {
      margin-top: 0;
    }

    & object {
      height: 144px;
    }
  }
}

/* Show reel */
 iframe.video-thumbnail {
  aspect-ratio: 16 / 9;
 }

 .video-thumbnail {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 0px 0px var(--blue-neon);

  & img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
  }

  & .video-overlay {
    height: calc(100% - 1px); /* 624px height - 1px border top */
    border-radius: var(--border-radius);

    &:hover {
      border-top: 1px solid   var(--grey-ghost-white);
      border-right: 1px solid var(--grey-ghost-white);
      border-left: 1px solid  var(--grey-ghost-white);
    }

    & .MuiSvgIcon-fontSizeMedium {
      width: calc(var(--rythm) * 15);
      height: calc(var(--rythm) * 15);
    }
  }
}

/* Contact CTA */
.contact-cta {
  & .content {
    background-color: var(--grey-seasalt);
    border-radius: var(--border-radius);
    padding: calc(var(--rythm) * 10);
    text-align: center;
  }

  & .btn {
    margin-top: calc(var(--rythm) * 6);
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 *                                                                             |
 * Project page                                                                |
 *                                                                             |
 * ---------------------------------------------------------------------------*/
.project {
  & .content {
    flex-direction: column;
  }

  & .credits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(var(--rythm) * 16);
  }

  & .collaborators {
    min-width: 160px;
    order: 2;
  }

  & .video {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    order: 1;
  }

  & .description {
    margin-top: calc(var(--rythm) * 18);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: calc(var(--rythm) * 12);
  }

  & .text {
    margin: calc(var(--rythm) * 4) 0;
  }

  & .synopsis {
    order: 2;
  }

  & .gallery {
    order: 1;
    width: 100%;
    max-width: calc(var(--rythm) * 80);
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1169px) {
  .project {
    & .credits {
      flex-direction: row;
    }

    & .collaborators {
      order: 1;
    }

    & .video {
      min-width: 800px;
      order: 2;
      margin: 0;
    }

    & .description {
      grid-template-columns: repeat(2, 1fr);
    }

    & .synopsis {
      order: 1;
    }

    & .gallery {
      order: 2;
    }
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 *                                                                             |
 * About page                                                                  |
 *                                                                             |
 * ---------------------------------------------------------------------------*/
.about {
  & p {
    margin: 0;
    margin-bottom: calc(var(--rythm) * 2);
  }

  & li {
    padding-left: calc(var(--rythm) * 4);
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve"><path d="M6,12.38l0.92-0.94l3.34,3.61l6.69-8.07L18,7.81l-7.67,9.21L6,12.38z"/></svg>');
  }

  & .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: calc(var(--rythm) * 8);
  }

  & .title {
    margin-bottom: calc(var(--rythm) * 4);
  }

  & .text-large {
    color: var(--black-oxford-blue);
  }

  & .about-sn {
    display: flex;
    margin-top: calc(var(--rythm) * 4);

    & a {
      display: flex;
      text-decoration: none;

      &:not(:first-child) {
        margin-left: calc(var(--rythm) * 4);
      }
    }
  }

  & .btn {
    margin-top: calc(var(--rythm) * 4);
  }
}

@media only screen and (min-width: 1169px) {
  .about {
    & .content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 *                                                                             |
 * FAQs page                                                                   |
 *                                                                             |
 * ---------------------------------------------------------------------------*/
.faqs {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .faq {
    padding: calc(var(--rythm) * 1);
    box-shadow: inset 0px -1px 0px 0px var(--grey-ghost-white);
  }

  & .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: calc(var(--rythm) * 7);
    padding-right: 32px; /* background width */
    text-align: left;

    &::after {
      content: '';
      width: 32px;
      height: 32px;
      position: absolute;
      right: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M480-357q-6 0-11-2t-10-7L261-564q-9-9-9-21t9-21q9-9 21.5-9t21.5 9l176 176 176-176q9-9 21-9t21 9q9 9 9 21.5t-9 21.5L501-366q-5 5-10 7t-11 2Z"/></svg>');
    }

    &.faq-question-open {
      &::after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M480-543 304-367q-9 9-21.5 9.5T261-366q-9-9-9-21.5t9-21.5l198-198q5-5 10-7t11-2q6 0 11 2t10 7l197 197q9 9 9.5 21t-8.5 21q-9 9-21.5 9t-21.5-9L480-543Z"/></svg>');
      }
    }
  }

  & .faq-answer {
    display: none;
    margin-top: calc(var(--rythm) * 2);
    margin-bottom: calc(var(--rythm) * 2);

    &.show {
      display: block;
    }
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 *                                                                             |
 * Contact page                                                                |
 *                                                                             |
 * ---------------------------------------------------------------------------*/
.contact {
  & .content {
    flex-direction: column;
  }

  & .alert {
    margin-bottom: calc(var(--rythm) * 6);
  }

  & .form {
    flex: 1;
  }

  & .input-container {
    display: flex;
  }

  & .input, .textarea {
    flex: 1;
  }
}

@media only screen and (min-width: 1169px) {
  .contact {
    & .alert {
      width: calc(var(--rythm) * 58);
    }

    & .form {
      width: calc(var(--rythm) * 65);
    }
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Misc stuff                                                                  |
 * ---------------------------------------------------------------------------*/
.MuiSvgIcon-fontSizeMedium, svg.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.MuiSvgIcon-root[aria-hidden="true"], svg[aria-hidden="true"] {
  display: flow-root;
}

& svg.icon {
  fill: var(--black-space-cadet);

  &:hover {
    fill: var(--blue-neon);
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);

    & .MuiSvgIcon-fontSizeMedium {
      visibility: visible;
    }
  }

  & .MuiSvgIcon-fontSizeMedium {
    width: calc(var(--rythm) * 5);
    height: calc(var(--rythm) * 5);
    fill: var(--blue-neon);
    visibility: hidden;
  }
}

.writer {
  & p:not(:last-child) {
    margin-bottom: calc(var(--rythm) * 2);
  }

  & ul {
    padding-left: calc(var(--rythm) * 2);
  }

  & li {
    list-style-type: disc;
  }
}

.go-to-top {
  margin: calc(var(--rythm) * 8) 0;
  display: flex;
  justify-content: flex-end;

  & a {
    display: inline-flex;
  }
}
/* ---------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------,
 * Slider                                                                      |
 * ---------------------------------------------------------------------------*/
.splide {
  & .splide__track {
    border-radius: var(--border-radius-slider);
  }

  & .splide__arrows {
    display: flex;
    gap: calc(var(--rythm) * 8);
    margin-top: calc(var(--rythm) * 3);
    justify-content: center;
  }

  & .splide__arrow {
    position: relative;
    background: none;
    opacity: 1;
    width: auto;
    height: auto;
    transform: none;
    top: auto;

    & svg {
      width: 24px;
      height: 24px;
      fill: var(--black-oxford-blue);

      &:hover {
        fill: var(--blue-neon);
      }
    }
  }

  & .splide__arrow--prev {
    left: auto;
  }

  & .splide__arrow--next {
    right: auto;
  }
}
/* ---------------------------------------------------------------------------*/