@font-face {
  font-family: "Satoshi";
  src: url('fonts/Satoshi-Bold.otf');
  src: url('fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url('fonts/Satoshi-Regular.otf');
  src: url('fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('fonts/PlusJakartaSans-ExtraBold');
  src: url('fonts/PlusJakartaSans-ExtraBold') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('fonts/PlusJakartaSans-Bold');
  src: url('fonts/PlusJakartaSans-Bold') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family-heading: 'Plus Jakarta Sans', sans-serif;
  --font-family-body: 'Satoshi', sans-serif;

  /* Font size: X-Large */
  --font-size-xlarge-desktop: 3rem;     /* 48px */
  --line-height-xlarge-desktop: 4.5rem; /* 72px */
  --font-size-xlarge-mobile: 1.5rem;    /* 24px */
  --line-height-xlarge-mobile: 2.5rem;  /* 40px */

  /* Font size: Large */
  --font-size-large-desktop: 1.5rem;    /* 24px */
  --line-height-large-desktop: 2.5rem;  /* 40px */
  --font-size-large-mobile: 1.125rem;   /* 18px */
  --line-height-large-mobile: 1.5rem;   /* 24px */

  /* Font size: Title */
  --font-size-title-desktop: 1rem;      /* 16px */
  --line-height-title-desktop: 1.5rem;  /* 24px */
  --font-weight-title-desktop: 800;
  --font-size-title-mobile: 0.75rem;    /* 12px */
  --line-height-title-mobile: 1.25rem;  /* 20px */
  --font-weight-title-mobile: 800;

  /* Font size: Subtitle */
  --font-size-subtitle: 0.875rem; /* 14px */
  --line-height-subtitle: 1.5rem; /* 24px */

  /* Font size: Default */
  --font-size: 0.875rem; /* 14px */
  --line-height: 1.5rem; /* 24px */

  /* Font size: Small */
  --font-size-small: 0.75rem; /* 12px */
  --line-height-small: 1rem;  /* 16px */

  /* Colors */
  --blue-neon: #4162FF;
  --blue-persian: #142DCC;
  --blue-resolution: #0E208A;
  --black-space-cadet: #1C213C;
  --black-oxford-blue: #060C28;
  --white: #FFF;
  --grey-seasalt: #F9FAFB;
  --grey-anti-flash-white: #F3F3F7;
  --grey-ghost-white: #E8EBF2;
  --grey-lavander-web: #D7DCEA;

  /* Vertical rythm */
  --rythm: 8px;

  /* Width */
  /* --max-width: calc(1440px * 0.8); */
  --max-width: 1120px;

  /* Borders */
  --border-radius: 12px;

  /* Breakpoints widths */
  --medium-screen: 1008px;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  // background: repeating-linear-gradient(
  //   gainsboro, gainsboro 8px, white 8px, white 16px
  // );
}

body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  line-height: var(--line-height);
  font-size: var(--font-size);
  font-family: var(--font-family-body);
  color: var(--black-space-cadet);
}

h2, h3, h4, h5, h6 {
  margin: 0;
  /* background-color: red; */
  font-family: var(--font-family-heading);
}

p {
  /* background-color: yellow; */
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  padding: 0;
  line-height: inherit;
  border: none;
  background-color: transparent;
}

a {
  color: var(--black-space-cadet);
}

object {
  width: 100%;
  display: block;
}

.text-xlarge {
  font-family: var(--font-family-heading);
  font-weight: 800;
  font-size: var(--font-size-xlarge-mobile);
  line-height: var(--line-height-xlarge-mobile);
  color: var(--black-oxford-blue);

  & span {
    color: var(--blue-neon);
  }
}

.text-large {
  font-family: var(--font-family-heading);
  font-weight: 800;
  font-size: var(--font-size-large-mobile);
  line-height: var(--line-height-large-mobile);
  color: var(--blue-neon);

}

.text-title {
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: var(--font-size-title-mobile);
  line-height: var(--line-height-title-mobile);
  color: var(--black-oxford-blue);
}

@media only screen and (min-width: 1008px) {
  .text-xlarge {
    font-size: var(--font-size-xlarge-desktop);
    line-height: var(--line-height-xlarge-desktop);
  }

  .text-large {
    font-size: var(--font-size-large-desktop);
    line-height: var(--line-height-large-desktop);
  }

  .text-title {
    font-size: var(--font-size-title-desktop);
    line-height: var(--line-height-title-desktop);
  }
}

.text-subtitle {
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
}

.text-small {
  font-family: var(--font-family-body);
  font-weight: normal;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.text-uppercase {
  text-transform: uppercase;
}

/* Icons */
.MuiSvgIcon-fontSizeMedium {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(var(--rythm) * 8);
}

/* Navigation */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--white);
  z-index: 2;

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  & ul {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    background-color: white;
  }

  & li {
    display: flex;
    justify-content: center;
    align-items: center;

    &#nav-burger, &#nav-close {
      align-self: end;
    }

    &#nav-burger {
      display: flex;
      width: calc(var(--rythm) * 8);
      height: calc(var(--rythm) * 8);
    }

    &#nav-close {
      height: calc(var(--rythm) * 3);
      display: none;
    }

    &.nav-item {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
      box-shadow: 0px -1px 0px 0px var(--grey-lavander-web) inset;
      display: none;
    }

    &.active {
      box-shadow: 0px -3px 0px 0px var(--blue-neon) inset;
    }
  }

  & a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-title-desktop);
    font-weight: var(--font-weight-title-desktop);
    line-height: var(--line-height-title-desktop);
    color: var(--black-oxford-blue);
  }

  &.nav-mobile-open {
    bottom: 0;

    & ul {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: calc(var(--rythm) * 3);
    }

    & li {
      &#nav-burger {
        display: none;
      }

      &#nav-close {
        display: flex;
      }

      &.nav-item {
        display: flex;
      }
    }
  }
}

@media only screen and (min-width: 1008px) {
  nav {
    width: var(--max-width);
    height: auto;

    & ul {
      flex-direction: row;
    }

    & li {
      height: calc(var(--rythm) * 8);

      &#nav-burger {
        display: none;
      }

      &.nav-item {
        display: flex;
      }
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - calc(var(--rythm) * 8)); /* Total height minus nav height (64px) */

  & h2 {
    text-align: center;

    & span {
      display: block;
    }
  }
}

@media only screen and (min-width: 1008px) {
  .hero {
    width: var(--max-width);
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.section {
  margin-top: calc(var(--rythm) * 4);
  margin-bottom: calc(var(--rythm) * 4);
  padding: calc(var(--rythm) * 3);

  & .content {
    display: flex;
    margin-top: calc(var(--rythm) * 6);
  }
}

@media only screen and (min-width: 1008px) {
  .section {
    width: var(--max-width);
    margin: calc(var(--rythm) * 8) auto;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);

    & .MuiSvgIcon-fontSizeMedium {
      visibility: visible;
    }
  }

  & .MuiSvgIcon-fontSizeMedium {
    width: calc(var(--rythm) * 5);
    height: calc(var(--rythm) * 5);
    fill: var(--blue-neon);
    visibility: hidden;
  }
}

@media only screen and (min-width: 1008px) {
  .project-card {
    padding: 0;
  }
}

/*
 * Projects
 */
.projects {
  & .projects-cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  & .project-card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 320px;

    & .project-thumbnail {
      position: relative;
    }

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    & img {
      height: 180px;
      display: block;
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }

    & .project-overlay {
      height: 180px;
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }

    & .project-link {
      display: block;
      margin: calc(var(--rythm) * 2) 0;
    }
  }
}

@media only screen and (min-width: 1008px) {
  .projects {
    & .projects-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/*
 * Clients
 */
.clients {
  & .clients-cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  & object {
    height: 144px;
  }
}

@media only screen and (min-width: 1008px) {
  .clients {
    & .clients-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/*
 * Show reel
 */
 iframe.video-thumbnail {
  aspect-ratio: 16 / 9;
 }

 .video-thumbnail {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 0px 0px var(--blue-neon);

  & img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
  }

  & .video-overlay {
    height: calc(100% - 1px); /* 624px height - 1px border top */
    border-top: 1px solid   var(--grey-ghost-white);
    border-right: 1px solid var(--grey-ghost-white);
    border-left: 1px solid  var(--grey-ghost-white);
    border-radius: var(--border-radius);

    & .MuiSvgIcon-fontSizeMedium {
      width: calc(var(--rythm) * 15);
      height: calc(var(--rythm) * 15);
    }
  }
}

/*
 * FAQs
 */
.faqs {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .faq {
    padding: calc(var(--rythm) * 1);
    box-shadow: inset 0px -1px 0px 0px var(--grey-ghost-white);

    & .faq-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      height: calc(var(--rythm) * 7);
      padding-right: 32px; /* background width */
      text-align: left;

      &::after {
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M480-357q-6 0-11-2t-10-7L261-564q-9-9-9-21t9-21q9-9 21.5-9t21.5 9l176 176 176-176q9-9 21-9t21 9q9 9 9 21.5t-9 21.5L501-366q-5 5-10 7t-11 2Z"/></svg>');
      }

      &.faq-question-open {
        &::after {
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M480-543 304-367q-9 9-21.5 9.5T261-366q-9-9-9-21.5t9-21.5l198-198q5-5 10-7t11-2q6 0 11 2t10 7l197 197q9 9 9.5 21t-8.5 21q-9 9-21.5 9t-21.5-9L480-543Z"/></svg>');
        }
      }
    }

    & .faq-answer {
      display: none;
      margin-top: calc(var(--rythm) * 2);
      margin-bottom: calc(var(--rythm) * 2);

      &.show {
        display: block;
      }

      /* TODO. Make generic for content */
      & p:not(:last-child) {
        margin-bottom: calc(var(--rythm) * 2);
      }

      & ul {
        padding-left: calc(var(--rythm) * 2);
      }

      & li {
        list-style-type: disc;
      }
    }
  }
}

/*
 * Footer
 */
.footer {
  max-width: var(--max-width);
  margin: calc(var(--rythm) * 3);
  box-shadow: inset 0px 1px 0px 0px var(--grey-lavander-web);

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & p {
    margin-bottom: calc(var(--rythm) * 2);
  }

  & h6 {
    text-align: center;
  }

  & .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--rythm) * 4);
    padding: calc(var(--rythm) * 2) 0;
  }
}

@media only screen and (min-width: 1008px) {
  .footer {
    margin: 0 auto;

    & .content {
      grid-template-columns: repeat(5, 1fr);
      padding: calc(var(--rythm) * 3) calc(var(--rythm) * 6);
    }
  }
}

/*
 * Modals
 */
#modal-container {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(28, 33, 60, 0.9); /* space-cadet */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &.none {
    display: none;
  }

  & .modal {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    margin: calc(var(--rythm) * 2);
  }

  & .modal-header, & .modal-footer {
    display: flex;
  }

  & .modal-header {
    padding: calc(var(--rythm) * 3);
    position: relative;
    justify-content: space-between;
  }

  & .modal-footer {
    flex-direction: column;
    justify-content: flex-end;
  }

  & .modal-body {
    position: relative;
    border-radius: var(--border-radius);
    padding-bottom: 4px;
    box-shadow: inset 0px -4px 0px 0px var(--blue-neon);
  }

  & .modal-body > iframe {
    display: block;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
  }

  & .modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0 0 auto auto;

    & .MuiSvgIcon-fontSizeMedium {
      fill: var(--white);
      height: 32px;
      width: 32px;
      opacity: .8;

      &:hover {
        opacity: 1;
        fill: var(--blue-neon);
      }
    }
  }
}
