---
import { routes } from "../routes";
import { getLocaleFromUrl, useTranslations } from "../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const year = new Date().getFullYear();
---
<footer class="footer">
  <div class="content">
    <div>
      <p class="text-title text-uppercase">{t('footer.menu')}</p>

      <ul>
        <li><a href={routes.root({ locale })}>{t('footer.home')}</a></li>
        <li><a href={routes.about({ locale })}>{t('footer.about')}</a></li>
        <li><a href={routes.portfolio.root({ locale })}>{t('footer.portfolio')}</a></li>
        <!-- li><a href={routes.blog.root({ locale })}>Blog</a></li-->
      </ul>
    </div>

    <div>
      <p class="text-title text-uppercase">{t('footer.follow')}</p>

      <ul>
        <li><a target="_blank" href="https://www.instagram.com/gabrielaborraz">Instagram</a></li>
        <li><a target="_blank" href="https://www.youtube.com/channel/UCSZ1OnqX_LIHIr-JOWr0sFQ">YouTube</a></li>
        <li><a target="_blank" href="https://www.behance.net/gabrielaborraz">Behance</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/gabrielaborraz">LinkedIn</a></li>
      </ul>
    </div>

    <div>
      <p class="text-title text-uppercase">{t('footer.answer')}</p>

      <ul>
        <li><a href={routes.contact({ locale })}>{t('footer.contact')}</a></li>
        <li><a href={routes.faq({ locale })}>FAQ</a></li>
      </ul>
    </div>

    <div>
      <p class="text-title text-uppercase">{t('footer.language')}</p>

      <ul>
        <li><a href={routes.root({ locale: 'es' })}>Español</a></li>
        <li><a href={routes.root({ locale: 'en' })}>English</a></li>
      </ul>
    </div>

    <div>
      <p class="text-title text-uppercase">{t('footer.subscribe')}</p>

      <div class="alert alert-success" aria-hidden="true">
        {t('footer.alert.success')}
      </div>

      <div class="alert alert-error" aria-hidden="true">
        Error
      </div>

      <form id="newsletter-form" class="form" data-sending={t('contact.data-sendig')} data-send={t('footer.btn')}>
        <div class="input-container input-email">
          <input
            required
            type="email"
            name="email"
            placeholder={t('contact.input.email')}
            class="input"
          />
        </div>

        <div class="input-container">
          <input type="hidden" class="date" name="date" value="" />

          <button type="submit" id="newsletter-submit" class="btn full-width">
            {t('footer.btn')}
          </button>
        </div>
      </form>
    </div>
  </div>

  <h6 class="text-small">
    © {year} by Gabriela Borraz. Powered and secured by <a href="https://kenaro.co" target="_blank">
      Kenaro Ltd.
    </a>
  </h6>
</footer>