---
import CloseRoundedIcon from '@mui/icons-material/CloseRounded';
---
<div id="modal-container" class="none">
  <div class="modal" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">
    <header class="modal-header" id="modal-title">
      <button type="button" class="modal-close" aria-label="Close this modal window">
        <CloseRoundedIcon />
      </button>
    </header>

    <main class="modal-body" id="modal-description">
      <div id="video-player"></div>
    </main>
  </div>
</div>