---
import CloseRoundedIcon from '@mui/icons-material/CloseRounded';
import MenuRoundedIcon from '@mui/icons-material/MenuRounded';

import { routes } from "../routes";
import { getLocaleFromUrl, useTranslations } from "../utils/i18n/utils";


const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const active = Astro.props.active || 'root';

const activeClass = (item: string): string => {
  return active === item ? 'active' : ''
}
---

<nav id="nav">
  <ul>
    <li id="nav-burger">
      <button><MenuRoundedIcon /></button>
    </li>
    <li id="nav-close">
      <button><CloseRoundedIcon /></button>
    </li>
    <li class={`nav-item ${activeClass('root')}`}>
      <a href={routes.root({ locale })}>{t('navigation.home')}</a>
    </li>
    <li class={`nav-item ${activeClass('about')}`}>
      <a href={routes.about({ locale })}>{t('navigation.about')}</a>
    </li>
    <li class={`nav-item ${activeClass('portfolio')}`}>
      <a href={routes.portfolio.root({ locale })}>{t('navigation.portfolio')}</a>
    </li>
    <!-- li class={`nav-item ${activeClass('blog')}`}>
      <a href={routes.blog.root({ locale })}>Blog</a>
    </li -->
    <li class={`nav-item ${activeClass('faq')}`}>
      <a href={routes.faq({ locale })}>FAQ</a>
    </li>
    <li class={`nav-item ${activeClass('contact')}`}>
      <a href={routes.contact({ locale })}>{t('navigation.contact')}</a>
    </li>
  </ul>
</nav>