---
import { getStaticPaths } from "../../../utils/staticPaths";
import { getLocaleFromUrl, useTranslations } from "../../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('portfolio.index.title');
const description = t('portfolio.index.description');

import Layout from "../../../layouts/Layout.astro";

export { getStaticPaths };
---
<Layout title= {title} description={description} active="portfolio">
  <section class="hero">
    <h2 class="text-xlarge" set:html={t('portfolio.hero')}/>
  </section>

  <section id="multimedia" class="section">
    <div class="title">
      <p class="text-title text-uppercase">{t('portfolio.multimedia.title')}</p>
      <h4 class="text-large">{t('portfolio.multimedia.subtitle')}</h4>
    </div>
  </section>

  <section id="design" class="section">
    <div class="title">
      <p class="text-title text-uppercase">{t('portfolio.design.title')}</p>
      <h4 class="text-large">{t('portfolio.design.subtitle')}</h4>
    </div>
  </section>

</Layout>