---
import { getStaticPaths } from "../../../utils/staticPaths";
import { getLocaleFromUrl, useTranslations } from "../../../utils/i18n/utils";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

const title = t('portfolio.index.title');
const description = t('portfolio.index.description');

import Layout from "../../../layouts/Layout.astro";

export { getStaticPaths };
---
<Layout title= {title} description={description} active="portfolio">
  <section class="hero">
    <h2 class="text-xlarge">
      La magia de los videos animados
      <span>comienza con una idea creativa</span>
    </h2>
  </section>

</Layout>